AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=
RESEND_API_KEY=
OUTSCRAPER_API_KEY=
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_SITE_ENV=local
REGION_HOSTS_GLOBAL=localhost,bloodlinetattoo.com,www.bloodlinetattoo.com
REGION_HOSTS_BANGKOK=bangkok.localhost,bloodlinetattoobangkok.com,www.bloodlinetattoobangkok.com
REGION_HOSTS_BALI=bali.localhost,bloodlinetattoobali.com,www.bloodlinetattoobali.com
REGION_HOSTS_PHUKET=phuket.localhost,bloodlinetattoophuket.com,www.bloodlinetattoophuket.com
